.App {
	text-align: center;
	display: flex;
}

.board {
	width: calc(85px * 5);
	height: calc(85px * 5);
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}
.control_select {
	background: #ff04303d !important;
}
.cell {
	width: 85px;
	height: 85px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cell:nth-child(even) {
	background: #faffa6;
}
.cell:nth-child(odd) {
	background: #ff8f2f;
}
.cursor {
	cursor: pointer;
}
.choose {
	background: red !important;
}
.can_stay::after {
	content: '';
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: block;
	background: blue;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.img_figure {
	max-width: 65px;
}
.history {
	height: 80vh;
	overflow-y: scroll;
}
.history ul {
	padding: 0;
}
.history li {
	display: block;
	text-align: left;
	border: 1px solid;
	border-bottom: 0;
	padding: 10px;
}
.history li:first-child {
	border-bottom: 0;
}
.history li:last-child {
	border-bottom: 1px solid;
}
