.App {
	text-align: center;
}

.board {
	width: calc(65px * 5);
	height: calc(65px * 5);
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}
.cell {
	width: 65px;
	height: 65px;
}
.cell:nth-child(even) {
	background: green;
}
.cell:nth-child(odd) {
	background: greenyellow;
}
.cursor {
	cursor: pointer;
}
.choose {
	background: red !important;
}
